<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="aaharu" />
		<meta name="keywords" content="aaharu" />
		<title>{% block title %}aaharu.com{% endblock %}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monofett" type="text/css" />
		<link rel="stylesheet" href="/css/common.css" type="text/css" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/png" />
	</head>
	<body>
		<div id="wrapper">
			<header id="title">
				<h1><a href="/">aaharu.com</a></h1>
				<nav class="pure-menu pure-menu-open pure-menu-horizontal">
					<ul>
						<li><a href="/profile/">profile</a></li>
						<li><a href="/works/">works</a></li>
						<li><a href="https://aaharu.blogspot.jp/">blog</a></li>
					</ul>
				</nav>
			</header>
			<main role="main">
{% block content %}{% endblock %}
			</main>
		</div>
		<footer>
			<small id="copyright">&#169; aaharu</small>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script> 
		<script src="/js/enchant.min.js" defer></script>
		<script src="/js/anim.js" defer></script>
{% block end %}{% endblock %}
<script type="text/javascript">
var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-18263572-1']);_gaq.push(['_setDomainName', '.aaharu.com']);_gaq.push(['_trackPageview']);
(function(){var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);})();
</script>
	</body>
</html>
