{% extends "base.html" %}
{% block title %}aaharu.com - profile{% endblock %}
{% block content %}
				<section>
					<h1>about "aaharu"</h1>
					<dl>
						<dt>ID</dt><dd>aaharu</dd>
						<dt>性別</dt><dd>男</dd>
						<dt>出身地</dt><dd>福島県</dd>
						<dt>生年</dt><dd>1989</dd>
					</dl>
				</section>
				<section>
					<h1>web activity</h1>
					<dl>
						<dt>Twitter</dt>
						<dd><a href="https://twitter.com/aaharu">@aaharu</a></dd>
						<dt>GitHub</dt>
						<dd><a href="https://github.com/aaharu">aaharu</a></dd>
						<dt>last.fm</dt>
						<dd><a href="http://www.lastfm.jp/user/aaharu">aaharu</a></dd>
						<dt>ブクログ</dt>
						<dd><a href="http://booklog.jp/users/aaharu">aaharu</a></dd>
						<dt>TrueAchievements</dt>
						<dd><a href="http://www.trueachievements.com/aaharu.htm">aaharu</a></dd>
						<dt>Tumblr</dt>
						<dd><a href="http://aaharu.tumblr.com/">Yosage</a></dd>
						<dt>Bitbucket</dt>
						<dd><a href="https://bitbucket.org/aaharu">aaharu</a></dd>
					</dl>
					<a href="http://raptr.com/aaharu?src=em_ach"><img style="border:none;" src="http://raptr.com/badge/8fd926a497e06234cdc7a9194a69307a/ach.png" height="100" /></a><br />
					<a href="http://book.akahoshitakuya.com/u/62207" title="aaharuさんの読書メーター"><img src="http://book.akahoshitakuya.com/bp_image/d/62207.gif" border="0" alt="aaharuさんの読書メーター" height="60" /></a>
				</section>
{% endblock %}
