@charset "utf-8";

body{
	margin: 20px;
	background: #ea5504;
	line-height: 1.5;
}

a img{
	border: 0;
}

dl,dt,dd,input{
	margin: 0;
	font-size: 1.2em;
}

dl{
	padding: 10px;
	border-top: 2px dashed #ea5504;
	border-bottom: 2px dashed #ea5504;
}

#wrapper{
	margin: 0 auto;
	padding: 5px;
	width: 600px;
	background: #fff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

#wrapper > div{
	padding: 5px;
	border: 1px solid #000;
}

#logo{
	float: left;
}

h1{
	margin: 10px 0 10px 60px;
	font-family: 'Droid Serif', arial, serif;
}

.alert{
	color: #f00;
}

.right{
	float: right;
}